<br />
<p>We are a small group of Ischool Students.</p>

<p>This website is a course project of class "Social Web Technologies".</p>

<p>We'd like to help you find free food served around the campus.</p>

<p>Hope you enjoy!</p>

<p>Regards</p>