<html>
<br />
Here you can give us suggestions.
<br />
Thank you!
<br />
<br />
<body>
  <form action="MAILTO:ccallan@syr.edu" method="post" enctype="text/plain">
    Name: <br />
    <input type="text" name="name" value="Your Name" /><br />
    Email: <br />
    <input type="text" name="mail" value="Your Email" /><br />
    Comments/Suggestions <br />
    <textarea name="Comments/Suggestions" rows="10" cols="50">
    </textarea>

    <br /><br />
    <input type="submit" value="Send">
    <input type="reset" value="Reset">
  </form>
  

  
</body>
</html>