<style>
  #map_canvas
  {
    width: 70%;
    height: 320px;
  }
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
  var gMap;
  var gLastInfowindow;
  var gCenterLatLng = new google.maps.LatLng(43.037956, -76.13343);

  var createMarkerandInfowindow = function(position,title,contentstr,map ){
        var marker = new google.maps.Marker({position: position,
                                            title:title,
                                            map: map
        });
        
        var infow =  new google.maps.InfoWindow({
        content: contentstr
        });
        
        google.maps.event.addListener(marker, 'mouseover',function(){
          if (gLastInfowindow != null){
            gLastInfowindow.close(map,marker)  
          }
          infow.open(map,marker);
          gLastInfowindow = infow;
        })
        google.maps.event.addListener(infow, 'mouseout',function(){
          infow.close(map,marker);
        }) 
    
  }
  

  window.onload = function () {
      var myOptions = {
        zoom: 16,
        center: gCenterLatLng,
        mapTypeId: google.maps.MapTypeId.HYBRID,
        disableDoubleClickZoom: true,
        mapTypeControl: false,
        navigationControl: true,
        scaleControl: true,
        streetViewControl: false
      };
      gMap = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      var building, latlng, title, image, contentString;
      var cnt = <%=@events.count%>;
      
      var gLastInfowindow;
      <% @events.each do |e| %>
      
      event = <%= e.to_json.to_s.html_safe %>
      building = <%= e.building.to_json.to_s.html_safe %>
      latlng = new google.maps.LatLng(building.lat, building.lon);
      
      contentString = '<div>What to eat?' + event.desc + '</div>'+
                      '<div>where? '+ building.buildname +'</div>' +
                      '<div>provided by?' + event.host + '</div>' +
                      '<div>' + '<%=link_to e.desc, e%>' + '</div>';
      
      createMarkerandInfowindow(latlng,event.eventname +'@' + building.buildname, contentString,gMap );
      
        <% end %>
      
  }
</script>
<div id="map_canvas">
</div>
