body
{
  background-image: url("../images/bg.jpg");
  background-repeat: repeat-x;
  background-color:#4d2905;
  color: #4d2905;
}
#container
{
  width:750px;
  margin-top:0px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FFFFFF;
  background-color: #fbfdd0;
}
#header
{
  width:750px;
  height: 80px;
  float:left;
  background-color:#a67b51;
}
  #headlink
  {
    width: 600px;
    margin-left: 10px;
    float:left;
  }
  #headlink a
  {
  	height:10px;
    font-weight:bold;
    font-size:25px;
    text-decoration:none;
    color:#4d2905;
  }
  #headlink a:hover {
    background:transparent;
    color:#4d2905 ;
  }
  #authenlink
  {
    width: 110px;
    height: 80px;
    font-size:12px;
    float:right;
    padding: 10px;
    color:#4d2905;
  }
#navigation
{
  width: 750px;
  height: 25px;
  background-color: #a67b51;
}
#welcome
{
  float:left;
  padding-top:40px;
  padding-left:40px;
}
#login
{
  float:right;
  margin-right:60px;
}

#register
{
  float:right;
}
  .navi
  {
    width: 100px;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 600;
    float:left;
    text-align: center;
    height: 19px;
    border-right: 1px solid #4d2905;
    border-radius: 5px 5px 0px 0px;
    background-color: #d3aa82;
    border-bottom: 1px solid #4d2905;
  }
    .navi a:link
    {
      color: #6c431a;
      text-decoration: none;
    }
    .navi a:hover
    {
      color: #FFFFFF;
      text-decoration: none;
    }
    .navi a:visited
    {
      color: #6c431a;
      text-decoration: none;
    }
    .navi a:active
    {
      text-decoration: none;
    }
#content
{
  width:750px;
  overflow: auto;
  padding: 10px 20px 20px 20px;
}
/*index event*/
#newevttxt 
{
  float:left;
  font-size:large;
  padding-top: 5px;
}
#newevtbtn 
{
  float:left;
  margin-left:9px; 
}
/*user show page*/


table
{
  width: 500px;
}
th
{
  height: 30px;
  text-align: left;
  border-bottom: 2px solid #4d2905;
}
td
{
  text-align: left;
  height: 20px;
}
/*show event*/
#eventsshow
{
  float: left;
  margin-left: 10px;
  width: 500px;
}
  #funcbtn
  {
    float:right;
    width: 100px;
    margin-right: 100px;
  }
  #attendbtn
  {
    float:right;
    width:100px;
    margin-right: 200px;
  }
#attendee
{
  width: 200px;
  margin-right:20px;  
  float:right;
}
#invite
{
  width: 200px;
  margin-top:10px;
  margin-right:20px;  
  float:right;
}
/*show event end*/

/**
user show page, following/followers
**/
#userprof
{
  float:left;
  margin-left: 10px;
  width: 500px;
}
#friends
{
  width: 200px;
  margin-right:20px;  
  float:right;
}
#userbtn
{
    float:left;
    width:100px;
    margin-left: 10px;
}
#follow
{
  width: 200px;
  margin-left:20px;  
  float:left;
}

.fix
{
  clear:both;
}

body, p, ol, ul, td {
  font-family: sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color:#4d2905; }
a:visited { color:#312311; }
a:hover { color:#79502c; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: black;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #fff;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: Red;
}
#footer
{
  width: 750px;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: auto;
  background-color:#a67b51;
}
#ftrcopy
{
  float:left;
  margin-left: 10px;
}
#ftrlnk
{
  float:right;
  margin-right: 10px;
}